<h1>Contact Us</h1>
<p><%= render_content('contact_header') %></p>

<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_name, 'First Name' %> <span class="note">(leave blank to send anonymously)</span><br />
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :contact_details, 'Email Address' %> <span class="note">(leave blank to send anonymously)</span><br />
    <%= f.text_field :contact_details %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :body, 'Message' %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :antispam_value, raw("What is <strong>#{antispam_arg1} plus #{antispam_arg2}</strong> (Help us prevent spam)") %><br />
    <%= f.text_field :antispam_value %>
  </div>
  <div class="actions">
    <%= f.submit "Send Message" %>
  </div>
<% end %>

<p><%= render_content('contact_footer') %></p>