<p id="notice">"Thanks for contacting <%= SiteConfig.get('organization_name') %>. We will try respond within 24-48 hours.</p>

<p>
  <b>From:</b>
  <%= @message.contact_name %>
</p>

<p>
  <b>Will Reply to:</b>
  <%= @message.contact_details %>
</p>

<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>

<p>
  <b>Message:</b>
  <%= @message.body %>
</p>
