<h1>Meeting List</h1>

<table>
<% District.all.each do |district| %>
  <tr class="summary_row">
    <td colspan="5"><%= district.name %></td>
  </tr>
  <tr></tr>
  <% district.meetings.each do |meeting| %>
    <tr>
      <td><%= meeting.short_address %></td>
      <td><%= meeting.day %> at <%= meeting.time %></td>
      <td><%= meeting.topic %></td>
    </tr>
  <% end %>
<% end %>
</table>