<h2>Meeting Detail</h2>

<h3><%= @meeting.title %></h3>
<dl>
  <dt>Day of Week:</dt><dd><%= @meeting.day %></dd>
  <dt>Time of Day:</dt><dd><%= @meeting.time %></dd>
  <dt>Location:</dt>
  <dd class="clearfix">
    <address><%= @meeting.address_building %><br>
      <%= @meeting.address_street1 %>
      <%= @meeting.address_street2 %><br>
      <%= @meeting.address_city %>, <%= @meeting.address_city %> <%= @meeting.address_zip_code %><br>
      <%= @meeting.address_notes %>
    </address>
  </dd>
  <dt>Meeting Focus:</dt><dd><%= @meeting.topic %></dd>
</dl>

<div id="google_map"></div>
</div>

<script type="text/javascript" charset="utf-8">
  loadGoogleMap(<%= @meeting.address_lat %>, <%= @meeting.address_lng %>);
</script>