<h2>Meeting Detail</h2>

<h3><%= @meeting.title %></h3>
<dl>
  <dt>Day of Week:</dt><dd><%= @meeting.day %></dd>
  <dt>Time of Day:</dt><dd><%= @meeting.time %></dd>
  <dt>Location:</dt>
  <dd class="clearfix">
    <address>
      <%= @meeting.meeting_address.building %><br>
      <%= @meeting.meeting_address.street1 %>
      <%= @meeting.meeting_address.street2 %><br>
      <%= @meeting.meeting_address.city %>, <%= @meeting.meeting_address.state %> <%= @meeting.meeting_address.zip_code %><br>
      <%= @meeting.meeting_address.notes %>
    </address>
  </dd>
  <% unless @meeting.topic.blank? %><dt>Meeting Focus:</dt><dd><%= @meeting.topic %></dd><% end %>
</dl>

<div id="google_map"></div>
</div>

<script type="text/javascript" charset="utf-8">
  loadGoogleMap(<%= @meeting.meeting_address.lat %>, <%= @meeting.meeting_address.lng %>);
</script>