<h1>Editing meeting</h1>

<%= form_for([:admin,@meeting]) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <fieldset class="existing_address">
    <%= f.select :meeting_address_id, option_groups_from_collection_for_select(District.all, :meeting_addresses, :name, :id, :short_address, @meeting.meeting_address_id) %>
  </fieldset>
  
  <div class="field">
    <%= f.label :wday, 'Day' %><br />
    <%= f.select :wday, Date::DAYNAMES.zip((0..6).to_a) %>
  </div>
  <div class="field">
    <%= f.label :hour, 'Time' %><br />
    <%= select_hour @meeting.hour, {:ampm => true}, {:name => 'meeting[hour]', :id => 'meeting_hour'} %> : 
    <%= select_minute @meeting.minute, {:minute_step => 5}, {:name => 'meeting[minute]', :id => 'meeting_minute'} %>
  </div>
  <div class="field">
    <%= f.label :topic %><br />
    <%= f.text_field :topic %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', admin_meeting_path(@meeting) %> |
<%= link_to 'Back', admin_meetings_path %>