<h1>Listing Meeting Addresses</h1>

<table>
  <tr>
    <th>District</th>
    <th>Building</th>
    <th>Street1</th>
    <th>Street2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th>Notes</th>
    <th></th>
    <th></th>
  </tr>

<% @meeting_addresses.each do |meeting_address| %>
  <tr>
    <td><%= meeting_address.district.name %></td>
    <td><%= meeting_address.building %></td>
    <td><%= meeting_address.street1 %></td>
    <td><%= meeting_address.street2 %></td>
    <td><%= meeting_address.city %></td>
    <td><%= meeting_address.state.upcase %></td>
    <td><%= meeting_address.zip_code %></td>
    <td><%= meeting_address.notes %></td>
    <td><%= link_to 'Edit', edit_admin_meeting_address_path(meeting_address) %></td>
    <td><%= link_to 'Remove', admin_meeting_address_path(meeting_address), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meeting Address', new_admin_meeting_address_path %>
