<h2>Motions List</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Document</th>
    <th>Vote yes</th>
    <th>Vote no</th>
    <th>Vote abstain</th>
    <th>Passes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @motions.each do |motion| %>
  <tr>
    <td><%= link_to motion.title, motion_path(motion) %></td>
    <td><%= motion.document.title %></td>
    <td><%= motion.vote_yes %></td>
    <td><%= motion.vote_no %></td>
    <td><%= motion.vote_abstain %></td>
    <td><%= motion.pretty_passes %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Motion', new_motion_path %>
