<h1>Motion Detail</h1>

<p>
  <b>Title:</b>
  <%= @motion.title %>
</p>

<% unless @motion.document.intergroup_session.nil? %>
<p>
  <b>Intergroup Session:</b>
  <%= link_to @motion.document.intergroup_session.name, intergroup_session_path(@motion.document.intergroup_session) %>
</p>
<% end %>
<p>
  <b>Document:</b>
  <%= link_to @motion.document.title, document_path(@motion.document) %>
</p>

<p>
  <b>Body:</b>
  <%= @motion.body %>
</p>

<p>
  <b>Vote yes:</b>
  <%= @motion.vote_yes %>
</p>

<p>
  <b>Vote no:</b>
  <%= @motion.vote_no %>
</p>

<p>
  <b>Vote abstain:</b>
  <%= @motion.vote_abstain %>
</p>

<p>
  <b>Passes:</b>
  <%= @motion.passes %>
</p>


<%= link_to 'Edit', edit_motion_path(@motion) %> |
<%= link_to 'Back', motions_path %>
