<h1>Website Messages</h1>

<table>
  <tr>
    <!-- <th>Status</th> -->
    <th>Name</th>
    <th>Email</th>
    <th>Subject</th>
    <th>Preview</th>
    <th>Date</th>
  </tr>

<% @website_messages.each do |message| %>
  <tr class="<%= 'new' unless message.responded_to? %>">
    <!-- <td><%= message.responded_to? ? 'answered' : 'new' %></td> -->
    <td><%= message.contact_name %></td>
    <td><%= message.contact_details %></td>
    <td><%= link_to message.subject, admin_message_path(message) %></td>
    <td><%= message.body.to_s.truncate(50) %></td>
    <td><%= nice_datetime message.created_at %></td>
  </tr>
<% end %>
</table>

<br><br><br><br>


<h1>Voicemail Messages</h1>

<table>
  <tr>
    <!-- <th>Status</th> -->
    <th>Phone Number</th>
    <th>Recording</th>
    <th>Duration</th>
    <th>Date</th>
  </tr>

<% @voicemail_messages.each do |message| %>
  <tr>
    <!-- <td><%= message.responded_to? ? 'answered' : 'new' %></td> -->
    <td><%= nice_phone message.contact_details %></td>
    <td><%= link_to "Listen", message.audio_url, :target => "_blank" %></td>
    <td><%= nice_seconds message.audio_duration %></td>
    <td><%= nice_datetime message.created_at %></td>
  </tr>
<% end %>
</table>
