<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @message.contact_name %>
</p>

<p>
  <b>Reply to:</b>
  <%= @message.contact_details %>
</p>

<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<%= link_to 'Back', admin_messages_path %>
