<p id="notice"><%= notice %></p>

<% if @message.contact_details.downcase == 'anonymous' %>
<h3>This was sent as an anonymous message.<br><br>You can simple read and take note of the message and then click, "mark as answered".</h3><br>
<% else %>
<p>
  <b>From:</b>
  <%= @message.contact_name %>
</p>

<p>
  <b>Reply to:</b>
  <%= @message.contact_details %>
</p>
<% end %>

<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<br>
<h3><%= link_to "mark as answered", update_admin_message_status_path(:id => @message.id, :status => 'responded') unless @message.responded_to? %></h3>
<br><br><br><br>
<%= link_to 'Back to messages', :back %>
