<h1>Listing motions</h1>

<table>
  <tr>
    <th>Document</th>
    <th>Title</th>
    <th>Body</th>
    <th>Vote yes</th>
    <th>Vote no</th>
    <th>Vote abstain</th>
    <th>Passes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @motions.each do |motion| %>
  <tr>
    <td><%= motion.document.title %></td>
    <td><%= motion.title %></td>
    <td><%= motion.body %></td>
    <td><%= motion.vote_yes %></td>
    <td><%= motion.vote_no %></td>
    <td><%= motion.vote_abstain %></td>
    <td><%= motion.passes %></td>
    <td><%= link_to 'Show', admin_motion_path(motion) %></td>
    <td><%= link_to 'Edit', edit_admin_motion_path(motion) %></td>
    <td><%= link_to 'Destroy', admin_motion_path(motion), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Motion', new_admin_motion_path %>
