<h1>Welcome to <%= SiteConfig.get('organization_name') %></h1>
<div class="clearfix">
  <%= render_content('home_intro') %>
  <%= image_tag "photo_home.jpg", :class => "home_photo", :alt => "People holding hands" %>

  <table class="panels">
    <tr class="panel">
      <% if content_exists?('home_custom_panel_body') %><th><h2><%= render_content('home_custom_panel_title') %></h2></th><% end %>
      <th class="panel_wide"><h2>Upcoming meetings</h3></th>
      <th class="panel_last"><h2>News &amp; Events</h3></th>
    </tr>
    
    <tr>
      <% if content_exists?('home_custom_panel_body') %>
        <td>
          <%= render_content('home_custom_panel_body') %>
        </td>
      <% end %>
      <td class="panel_wide">
        <% unless @meetings.empty? %>
          <ul class="meetings">
          <% @meetings.each do |meeting| %>
            <li><%= link_to "#{meeting.next_meeting_date.strftime("%b %e")} in #{meeting.meeting_address.district.name}", meeting %> <span class="location">(<%= meeting.next_meeting_date.strftime("%a") %> at <%= meeting.time %>)</span></li>
          <% end %>
          </ul>
          <%= link_to "All Meetings", meetings_path, :class => "panel_action" %>
        <% else %>
          <p>No meetings have been added yet. Know of a meeting we should add? <%= link_to "Contact us", contact_path %>.</p>
        <% end %>
      </td>
      <td class="panel_last">
        <% unless @announcement.blank? %>
          <p><%= link_to @announcement.header, @announcement %> - <%= strip_tags(raw @announcement.body).truncate(100) %></p>
          <%= link_to "Read More", announcements_path, :class => "panel_action" %>
        <% else %>
          <p>No current announcements. Have news to share, please <%= link_to "contact us", contact_path %>.</p>
        <% end %>
      </td>
    </tr>
  </table>
  
  <%= render_content('home_body') %>
</div>