<h1>Welcome to <%= SiteConfig.get('organization_name') %></h1>
<div class="clearfix">
  <div class="home_content"><%= render_content('home_header') %></div>

  <div class="aside">
    <%= render_content('home_sidebar_top') %>

    <h2>How do I find a meeting?</h2>
    <p>View the <%= link_to "Meeting List", meetings_path %></p>

    <% unless @meetings.empty? %>
      <h3>Upcoming meetings</h3>
      <ul class="meetings">
      <% @meetings.each do |meeting| %>
        <li><%= link_to "#{meeting.next_meeting_date.strftime("%b %e")} in #{meeting.meeting_address.district.name}", meeting %> <span class="">(<%= meeting.next_meeting_date.strftime("%a") %> at <%= meeting.time %>)</span></li>
      <% end %>
      </ul>
      <p>see <%= link_to "all meetings", meetings_path %></p>
    <% end %>

    <% unless @announcement.blank? %>
      <h2>What's new with <%= SiteConfig.get('organization_name') %></h2>
      <p><%= link_to @announcement.header, @announcement %> - <%= strip_tags(@announcement.body).truncate(100) %></p>
      <p>see <%= link_to "all announcements", announcements_path %></p>
    <% end %>

    <%= render_content('home_sidebar_bottom') %>
  </div>
</div>