<h1>Intergroup</h1>
<p><%= render_content('intergroup_home_header') %></p>

<br><br>
<% unless @past_meeting.nil? %>
<h2>Past Meeting Details</h2>
<dl>
  <dt>Date:</dt> <dd><%= nice_date @past_meeting.session_date %></dd>
  <dt>Attendance:</dt> <dd><%= @past_meeting.attendance %></dd>
  <dt>Quorum:</dt> <dd><%= nice_boolean @past_meeting.quorum? %></dd>
  <dt>Motions:</dt> 
  <dd>
    <%= @past_meeting.motions.size %>
    <% if @past_meeting.motions.size > 0 %>
      (<%= link_to "details", document_path(@past_meeting.motions.first.document) %>)
    <% end %>
  </dd>
  <dt>Documents: </dt> <dd><%= raw @past_meeting.documents.collect{ |d| link_to(d.title, document_path(d)) }.join(", ") %></dd>
</dl>
<% end %>