<p id="notice"><%= notice %></p>

<p>
  <b>Session date:</b>
  <%= @intergroup_session.session_date %>
</p>

<p>
  <b>Attendance:</b>
  <%= @intergroup_session.attendance %>
</p>

<p>
  <b>Quorum:</b>
  <%= @intergroup_session.quorum %>
</p>


<%= link_to 'Edit', edit_admin_intergroup_session_path(@intergroup_session) %> |
<%= link_to 'Back', admin_intergroup_sessions_path %>
