<%= form_for([:admin,@document_section]) do |f| %>
  <% if @document_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document_section.errors.count, "error") %> prohibited this document_section from being saved:</h2>

      <ul>
      <% @document_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :document_id %><br />
    <%= f.select :document_id, Document.all.collect{|d| [d.title, d.id]} %>
  </div>
  <div class="field">
    <%= f.label :heading %><br />
    <%= f.text_field :heading %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
