<%= form_for [:admin,@document] do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h1><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h1>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :intergroup_session_id %> <span class="note">(optional)</span><br />
    <%= f.select :intergroup_session_id, [['-- None --', '']] + IntergroupSession.all.collect{|i| [i.name, i.id]}, :selected => (@document.intergroup_session_id || params[:intergroup_session_id]) %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :document_type %><br />
    <%= f.select :document_type, Document::TYPES %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>