<h1><%= @document.title %></h1>

<dl>
  <% unless @document.intergroup_session.nil? %>
    <dt>Intergroup Session:</dt>
    <dd><%= link_to @document.intergroup_session.name, admin_intergroup_session_path(@document.intergroup_session) %></dd>
  <% end %>
  <dt>Document type:</dt>
  <dd><%= @document.pretty_document_type %></dd>
</dl>


<p><%= raw @document.body %></p>

<br><br><br>

<% unless @document.motions.empty? %>
  <h3>Motions</h3>
  <% @document.motions.each do |motion| %>
    <h4><%= motion.title %></h4>
    <p><%= raw motion.body %></p>
    <dl>
      <dt>Vote Yes:</dt>
      <dd><%= motion.vote_yes %></dd>
      <dt>Vote No:</dt>
      <dd><%= motion.vote_no %></dd>
      <dt>Vote Abstain:</dt>
      <dd><%= motion.vote_abstain %></dd>
      <dt><strong>Passes:</strong></dt>
      <dd><%= motion.pretty_passes %></dd>
    </dl>
  <% end %>
<% end %>

<!-- <% unless @document.transactions.empty? %>
  <h3>Transactions</h3>
  <ul>
    <% @document.transactions.each do |transaction| %>
      <li>(<%= transaction.pretty_timestamp %>) <%= number_to_currency transaction.amount %> - <%= transaction.description %></li>
    <% end %>
  </ul>
<% end %> -->

<br><br><br>

<%= link_to 'Edit', edit_admin_document_path(@document) %> |
<%= link_to 'Back', admin_documents_path %>