<h1>Listing menu items</h1>

<table>
  <tr>
    <th>Label</th>
    <th>Path</th>
    <th>Location</th>
    <th>On</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menus.each do |menu| %>
  <tr>
    <td><%= menu.label %></td>
    <td><%= link_to menu.path, menu.path %></td>
    <td><%= Menu::LOCATIONS[menu.location].first %></td>
    <td><%= nice_boolean menu.published %></td>
    <td><%= link_to 'Edit', edit_admin_menu_path(menu) %></td>
    <td><%= link_to 'Remove', admin_menu_path(menu), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu', new_admin_menu_path %>
