<!DOCTYPE html>
<html>
<head>
<title>NYCODA.org :: Codependents Anonymous NYC</title>
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<%= stylesheet_link_tag "main", :media => "all" %>
<%= javascript_include_tag "main" %>
<%= csrf_meta_tags %>
</head>
  <body>
    <div id="container" class="clearfix">
      <%= render :partial => 'layouts/navigation' %>
      
      <div id="content" class="clearfix">
        <%= flash[:notice] %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>