<!DOCTYPE html>
<html>
<head>
<title><%= SiteConfig.get('organization_name') %> :: ADMIN - <%= controller.controller_name.humanize %></title>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<%= stylesheet_link_tag "admin", :media => "all" %>
<%= javascript_include_tag "main" %>
<%= csrf_meta_tags %>
</head>
  <body class="admin">
    <div class="header">
      <div class="site_width">
        <%= render :partial => 'layouts/admin_header' %>
      </div>
    </div>

    <div class="site_width" class="clearfix">
      <div class="nav side_nav">
        <%= render :partial => 'layouts/admin_navigation' %>
      </div>
      <div class="content" role="main">
        <%= yield %>
      </div>
    </div>
      
  </body>
</html>