<!DOCTYPE html>
<html>
<head>
<title><%= SiteConfig.get('organization_name') %></title>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<%= stylesheet_link_tag "main", :media => "all" %>
<%= javascript_include_tag "main" %>
<%= csrf_meta_tags %>
<meta name="title" content="New York City CoDA" />
<meta name="Keywords" content="coda, codanyc, CoDA, CODA, Codependent, codependency, 12 step, recovery, nyc, NYC metro, codependents, 74 Trinity Place, Intergroup, intergroup" />
<meta name="Description" content="Co-Dependents Anonymous is a program of recovery from codependence. The only requirement for membership is a desire for healthy and loving relationships. We have all learned to survive life, but in CoDA we are learning to live life. " />
</head>
  <body>
    <div class="header">
      <div class="site_width">
        <%= render :partial => 'layouts/header' %>
      </div>
    </div>

    <div class="site_width clearfix">
      <div class="nav side_nav">
        <%= render :partial => 'layouts/navigation' %>
      </div>
      <div id="announcements" class="announcements loading clearfix"><h3>Announcements:</h3><ul></ul></div>
      <div class="content" role="main">
        <%= yield %>
        <p class="copyright">Content re-published with the permission of Co-Dependents Anonymous, Incorporated.</p>
      </div>
    </div>
      
    <div class="footer">
      <div class="site_width">
        <%= render :partial => 'layouts/footer' %>
      </div>
    </div>
    
    <script type="text/javascript" charset="utf-8">
      $(function() {
        $.ajax({
          type: 'GET',
          dataType: 'json',
          url: '<%= announcements_path %>'
        }).done(function(data) {
          if (data.length > 0){
            $('#announcements ul').kaliAnnounce({json_data: data}).parent().hide().removeClass('loading').fadeIn('slow');
          }
        });
      });
    </script>
  </body>
</html>