<!DOCTYPE html>
<html>
<head>
<title>NYCODA.org :: Codependents Anonymous NYC</title>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<%= stylesheet_link_tag "main", :media => "all" %>
<%= javascript_include_tag "main" %>
<%= csrf_meta_tags %>
</head>
  <body>
    <div id="container" class="clearfix">
      <%= render :partial => 'layouts/navigation' %>
      <div id="content" class="clearfix">
        <div id="announcements" class="loading clearfix"><h3>Announcements:</h3><ul></ul></div>
        <%= yield %>
      </div>
    </div>

    <script type="text/javascript" charset="utf-8">
      $(function() {
        $.ajax({
          type: 'GET',
          dataType: 'json',
          url: '<%= announcements_path %>'
        }).done(function(data) {
          if (data.length > 0){
            $('#announcements ul').kaliAnnounce({json_data: data}).parent().hide().removeClass('loading').fadeIn('slow');
          }
        });
      });
    </script>
  </body>
</html>